<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">

@{
    ViewData["Title"] = "Contact";
}
</head>
<body>


<div class="header">
    <h1 class="display-4">Contact us</h1>
</div>

<div class="pagebody">
    <fieldset class="first">
            <h2>Contact us</h2>
            <p>
                For any inquiries, feedback, or assistance, please don't hesitate to reach out to us.
            </p>
           
            <p><b>Email:</b></p>
            <p>info@khumalocraftemporium.com</p>

            <p><b>Phone:</b></p>
            <p>+27 (0)12 345 6789</p>

            <p><b>Address:</b></p>
            <p>
                <ul style="list-style-type: none;">
                    <li>Khumalo Craft Emporium</li>
                    <li>143 Grove Street</li>
                    <li>Sandton</li>
                    <li>0177</li>
                    <li>South Africa</li>
                </ul>
            </p>
            <p>
                Thank you for choosing KhumaloCraft Emporium. Where Tradition meets innovation
            </p>
    </fieldset>
        
</div>
</body>
</html>
